form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    background-color: #FAEBD7; /* Un color de fondo suave */
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #6495ED; /* Añade un borde colorido en la parte superior */
}

form input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 20px; /* Hace que la caja de texto sea más redonda */
    border: 2px solid #6495ED; /* Añade un borde colorido a la caja de texto */
    font-size: 18px; /* Hace que la fuente sea más grande y fácil de leer */
    transition: all 0.3s ease; /* Añade una transición para suavizar los cambios de estado */
}

form input[type="text"]:focus {
    transform: scale(1.05); /* Añade una pequeña transformación cuando el usuario interactúa con la caja de texto */
    border-color: #4169E1; /* Cambia el color del borde cuando el usuario interactúa con la caja de texto */
}

form input[type="submit"] {
    padding: 10px;
    background-color: #6495ED; /* Añade un color de fondo al botón de enviar */
    border-radius: 20px; /* Hace que el botón de enviar sea más redondo */
    border: none; /* Quita el borde del botón de enviar */
    color: white; /* Cambia el color de la fuente del botón de enviar a blanco */
    font-size: 18px; /* Hace que la fuente del botón de enviar sea más grande */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima del botón de enviar */
    transition: all 0.3s ease; /* Añade una transición para suavizar los cambios de estado */
}

form input[type="submit"]:hover {
    background-color: #4169E1; /* Cambia el color de fondo del botón de enviar cuando el usuario pasa el cursor por encima */
}

form button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button.listening {
    background-color: #ff0000; /* Rojo cuando está escuchando */
}

form button.not-listening {
    background-color: #008000; /* Verde cuando no está escuchando */
}

