.animated-sum {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;  /* Cuatro columnas para dígitos y una para el operador */
    gap: 5px;
    font-size: 24px;
    width: 100%;
}

.carry {
    justify-self: center;
    font-weight: bold;
    color: blue;
}

.carry-digit {
    justify-self: center;
    opacity: 0;  /* Por defecto, lo hacemos invisible. La animación cambiará esto. */
}

.operator {
    grid-column: 5;  /* Quinta columna */
    grid-row: 2;  /* Segunda fila */
    align-self: center;
}

.number {
    justify-self: center;
}

.result {
    justify-self: center;
    font-weight: bold;
    color: green;
}

.empty {
    border: none !important;
    box-shadow: none !important;
}
