body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #F0EAD6; /* Un color beige claro */
    transition: all 0.3s ease-in-out;
}

.animated-sum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    background-color: #FFDAB9; /* PeachPuff */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 850px;
    margin: 20px auto;
}

.explanation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    background-color: #FFB6C1; /* LightPink */
    width: 100%;
}

.content-container h1,
.content-container h2,
.content-container h3 {
    color: #483D8B; /* DarkSlateBlue */
    text-align: center;
    margin: 15px 0;
}

.example-section {
    display: flex;
    flex-direction: row-reverse; /* Intercambiamos el orden para poner la suma primero */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.process-container {
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    background-color: #FFF0F5; /* LavenderBlush */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin-left: 5%;
}

.animated-sum {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 15px;
    font-size: 28px;
    border: 2px solid #FF69B4; /* HotPink */
    border-radius: 20px;
    padding: 20px;
}

.process-step {
    margin: 10px 0;
    text-align: center;
}

.carry,
.number,
.result {
    justify-self: center;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out;
}

.carry {
    background-color: #FFA07A; /* LightSalmon */
}

.number {
    background-color: #ADD8E6; /* LightBlue */
}

.result {
    background-color: #98FB98; /* PaleGreen */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .animated-sum-container {
        padding: 20px;
    }

    .explanation-section {
        padding: 20px;
    }

    .example-section {
        flex-direction: column;
        align-items: center;
    }

    .process-container,
    .animated-sum {
        width: 100%;
        margin: 10px 0;
    }
}
